<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Syncopate:400,700" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <title>MNR</title>
</head>
<body>
  <div class="bg bg-login">
    <div class="container-registro">
      <div>
        <h2 class="title">MUNDO DE NUTRICIÓN Y RUTINA</h2>
      </div>
      <div class="form-content">
        <form action="">
          <h3>Iniciar sesión</h3>
          <input class="input" type="text" placeholder="usuario" />
          <input class="input" type="password" placeholder="contraseña" />
          <button class="btn">Iniciar sesión</button>
          <a href="login.html" class="link">Recuperar Contraseña</a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>