<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Syncopate:400,700" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <title>MNR</title>
</head>
<body>
  <div class="bg bg-historial">
    <div class="container-dashboard">
      <nav class="nav">
        <a class="nav-link" href="historial.html">historial</a>
        <a class="nav-link" href="rutinas.html">rutinas</a>
        <a class="nav-link" href="diagnostico.html">diagnostico</a>
        <a class="nav-link" href="dietas.html">dietas</a>
      </nav>
      <div class="content-info">
        <h3 class="title-dashboard">MUNDO DE NUTRICIÓN Y RUTINA</h3>
        <div class="content-info-text">
          <div class="content-info-div">
            <div class="item">
              <h4>Fullbody</h4>
              <p>rutina #1</p>
            </div>
            <div class="item">
              <h4>UPPER/LOWER</h4>
              <p>rutina #2</p>
            </div>
          </div>
          <div class="content-info-div">
            <div class="item">
              <h4>PUSH/PULL</h4>
              <p>rutina #3</p>
            </div>
            <div class="item">
              <h4>PUSH/PULL/LEGS</h4>
              <p>rutina #4</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>